---
---

.white-color {
    fill: white;
    padding-right: 5px;
    padding-left: 5px;
    width: 50px;
    height: 50px;
}

.profile {
   width: 400;
   max-width: 80vw;
}

.prof {
   width: 50%;
   max-width: 30vw;
   border:1px solid #3E3A9E;
}

.frame {
  display: block;
  width: 100vw;
  height: 50vh;
  max-width: 100%;
  margin: 0;
  padding: 0;
  border: 0 none;
  box-sizing: border-box;
}


$header-bg-color: #00F260;
$header-bg-color-secondary: #0575E6;
$section-headings-color: #514a9d;

$section-headings-color: #2169C8 !default;
$body-text-color: #606c71 !default;
$body-link-color: #0AB9DC !default;
$blockquote-text-color: #819198 !default;

@import 'jekyll-theme-cayman';
